<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
  <h2 class="archive__item-title no_toc" itemprop="headline">
    <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
  </h2>

  <p class="page__meta">
    {% if post.date %}{{ post.date | date: "%B %-d, %Y" }}{% endif %}
    {% if post.type %}<span class="page__meta-sep"> | </span>{{ post.type }}{% endif %}
    {% if post.venue %}<span class="page__meta-sep"> | </span>{{ post.venue }}{% endif %}
    {% if post.location %}<span class="page__meta-sep"> | </span>{{ post.location }}{% endif %}
  </p>

  {% if post.excerpt %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html }}</p>
  {% endif %}
</article>
